<section class="features">
    <div class="features-row">
        <div class="w-100 text-white features-col-left">
            <div class="item ">Google Calendar Integration</div>
            <div class="item ">Define Meeting Slots</div>
            <div class="item ">Time-zone Intelligent</div>
            <div class="item ">Share URL to Book Meetings</div>
            <div class="item ">Send Invite for Google Meet or Zoom Meeting</div>
            <div class="item ">Send Auto Reminder Before Meeting Starts</div>
        </div>
        <div class="w-100 px-5 features-col-right">
            <p class="px-5">Connect Frontman with your Google Calendar and offer
                appointment slots to your customers. So they can schedule an appointment on the fly, 24 hours a
                day, 7 days a week, without any human mediation</p>
            <div class="try-btn px-5"><a href="#">Try now</a></div>
        </div>
    </div>
</section>