<section class="meetings">
    <div class="px-5 mx-5">
        <h1 class="px-lg-5 py-5 mx-5 col-12">Frontman helps you schedule meetings without the back-and-forth emails</h1>
    </div>
    <div class="image">
        <img src="https://www.makerobos.com/assets/images/features/BookAppointment.png" alt="">
    </div>
    <div class="crousel-card p-2 border">
        <div class="crousels border">
            <div id="carouselExampleSlidesOnly" class="carousel" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="https://www.makerobos.com/assets/images/features/featureM3.png" class="d-block w-100"
                            alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="https://www.makerobos.com/assets/images/features/featureM4.png" class="d-block w-100"
                            alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="https://www.makerobos.com/assets/images/features/featureM1.png" class="d-block w-100"
                            alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="https://www.makerobos.com/assets/images/features/featureM2.png" class="d-block w-100"
                            alt="...">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>